.bookform {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bookform form{
    width: 90%;
}

.bookform h1 {
    font-size: 60px;
 }